In [ ]:
#tuple

In [ ]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
max(t1)

5

In [ ]:
min(t1)

1

In [ ]:
#import scarpy

In [ ]:
i=0
while True:
  if i+1 < 5:
    i=i+1
    continue
  print(i+1,end=" ")
  if(i==30):
    break
  i=i+1

In [ ]:
#section a question 1
i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Section a question 2
n=5 
  
i=1;j=1
while(i<=n):
    while(j<=i):
        print( j ,end="  ") 
        j+=1 
    print("\r") 
    j=1;i+=1

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [ ]:
#Section A question 3
n = int(input("Enter the number"))
i=1
sum = 0;
while(i<=n):
  sum = sum + i
  i=i+1
print(sum )

Enter the number 5
15

In [ ]:
#section a question 4
n = int(input("Enter the number"))
i=1
while(i<=10):
  print(n, " * " , i ," = ", n*i)
  i=i+1
  print("\r")

Enter the number 6
6  *  1  =  6

6  *  2  =  12

6  *  3  =  18

6  *  4  =  24

6  *  5  =  30

6  *  6  =  36

6  *  7  =  42

6  *  8  =  48

6  *  9  =  54

6  *  10  =  60

In [ ]:
#Section A question 6
n = int(input("Enter the number "))
count = 0
while(n!=0):
  n= n//10
  count = count + 1
print(count)

Enter the number 4536
4

In [ ]:
# Section a question 7 
for i in range(0, 5 + 1):  
    for j in range(5- i, 0, -1):  
        print(j, end=' ')  
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Section a question 9
i = -10
while(i<=-1):
  print(i)
  i=i+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# Section a question 10
for i in range(1, 4):
    print()
else:
    print("Done")

Done

In [ ]:
#Section A question 11
n = int(input("Enter a number: "))
for num in range(1, n + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter a number: 10
2
3
5
7

In [ ]:
#section A question 12

n = int(input("Enter the number "))
n1, n2 = 0, 1
count = 0
if n == 1:
   print(n1)
else:
      while count < n:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Enter the number 10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#Section A question 13
n = int(input("ENter the number  "))
fact = 1
if n == 0:
   print("1")
else:
   for i in range(1,n+ 1):
       fact = fact*i
   print("The factorial of",n," = ",fact)

ENter the number  5
The factorial of 5  =  120

In [ ]:
#section A question 16
n = int(input("ENter the number  "))
for i in range (1 , n):
  print(i ," ^3  = ",  i*i*i)

ENter the number  5
1  ^3  =  1
2  ^3  =  8
3  ^3  =  27
4  ^3  =  64

In [ ]:
#section A question 17
n = int(input("Enter the no of terms  "))
i=1
a=int(input("Enter the no to repeat "))
sum=0
while i <= n:
    j=1
    while j <= i:
        print( a ,end ='')
        j=j+1
    print()
    i=i+1
print("sum of terms is " ,sum)

Enter the no of terms  2
Enter the no to repeat 1
1
11
sum of terms is  3

In [ ]:
#Section A question 18
for i in range(0, 5):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")
for i in range(4 + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Section A ans 8
list1 = [10, 20, 30, 40, 50]
new_list = reversed(list1)
for item in new_list:
    print(item)

50
40
30
20
10